* {
    border: 1px solid black;
}

.col.arriba {
    font-size: 38px;
}

.col.abajo {
    font-size: 38px;
    text-align: end;
}


.col.centro {
    font-size: 100px;
    text-align: center;

}

.row {
    width: 177px;
    height: 242px
    display: table;
}